<nav class="vertical_nav">
  <div class="left_section menu_left" id="js-menu">
    <div class="left_section">
      <ul>
        <li class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
            <i class="uil uil-clipboard-alt menu--icon"></i>
            <span class="menu--label">IT</span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item">
              {{#each categories}}
              <a href="/category/{{this}}" class="sub_menu--link" name ="CatName">{{this}}</a>
              {{/each }}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>