	<nav class="vertical_nav">
		<div class="left_section menu_left" id="js-menu" >
			<div class="left_section">
				<ul>
			
					<li class="menu--item">
						<a href="instructor_courses.html" class="menu--link active" title="Courses">
							<i class='uil uil-book-alt menu--icon'></i>
							<span class="menu--label">My Courses</span>
						</a>
					</li>
				
					<li class="menu--item">
						<a href="create_new_course.html" class="menu--link" title="Create Course">
							<i class='uil uil-plus-circle menu--icon'></i>
							<span class="menu--label">Create Course</span>
						</a>
					</li>
					<li class="menu--item">
						<a href="instructor_all_reviews.html" class="menu--link" title="Reviews">
						  <i class='uil uil-star menu--icon'></i>
						  <span class="menu--label">Reviews</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>