<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from gambolthemes.net/html-items/cursus_demo_f12/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:49:44 GMT -->

<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, shrink-to-fit=9" />
  <meta name="description" content="Gambolthemes" />
  <meta name="author" content="Gambolthemes" />
  <title>TekCourse | {{title}}</title>

  <!-- Favicon Icon -->
  <link rel="icon" type="image/png" href="/images/fav.png" />


  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,500" rel="stylesheet" />
  <link href="/vendor/unicons-2.0.1/css/unicons.css" rel="stylesheet" />
  <link href="/css/vertical-responsive-menu.min.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/responsive.css" rel="stylesheet" />
  <link href="/css/night-mode.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/popupform.css">
  <link rel="stylesheet" type="text/css" href="/css/loading-bar.css"/>
  <!-- Vendor Stylesheets -->

  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <link href="/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet" />
  <link href="/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet" />
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/vendor/semantic/semantic.min.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.js"
    integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
</head>

<body>
  {{!-- {{> header}} --}}
  {{{body}}}

  {{!-- {{> footer}} --}}
    <script type="text/javascript" src="/js/loading-bar.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="/js/popupform.js"></script>
  <script src="/js/bundle.js"></script>
  <script src="/js/vertical-responsive-menu.min.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/OwlCarousel/owl.carousel.js"></script>
  <script src="/vendor/semantic/semantic.min.js"></script>
  <script src="/js/custom.js"></script>
  <script src="/js/night-mode.js"></script>
  <script type="text/javascript" src="/js/imgur.js"></script>
  <script type="text/javascript" src="/js/upload.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/locales/vi.min.js"></script>

</body>



<!-- Mirrored from gambolthemes.net/html-items/cursus_demo_f12/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:50:50 GMT -->

</html>