{{> header_1}}

<body class="coming_soon_style">

	<!-- Body Start -->
	<div class="wrapper coming_soon_wrapper" style="background-image: url(../images/get-img.jpg)">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="cmtk_group">
						<div class="ct-logo">
							<a href="index.html"><img src="images/ct_logo.svg" alt=""></a>
						</div>
						<div class="cmtk_dt">
							<h1 class="thnk_coming_title">Thank You</h1>
							<h4 class="thnk_title1">You have successfully paid for the order</h4>
							<p class="thnk_des">To return to the home page
								- <a href="/">Click Here</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer}}
	</div>
	<!-- Body End -->

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/OwlCarousel/owl.carousel.js"></script>
	<script src="vendor/semantic/semantic.min.js"></script>
	<script src="js/custom.js"></script>

</body>