<body class="coming_soon_style">

	<!-- Body Start -->
	<div class="wrapper coming_soon_wrapper" style="background-image: url(../images/get-img.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="cmtk_group">
						<div class="ct-logo">
							<a href="/"><img src="images/LOGO_custom1.svg" alt=""></a>
						</div>
						<div class="cmtk_dt">
							<h1 class="thnk_coming_title">Thank You</h1>
							<h4 class="thnk_title1">You have successfully paid for the order</h4>
							<p class="thnk_des">To return to the home page
								- <a href="/">Click Here</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Body End -->

</body>